<app-search-category (messageEvent)="receiveMessage($event)"></app-search-category>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">createdBy</th>
            <th scope="col">name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cate of data">
            <td>{{cate._id}}</td>
            <td>{{cate.createdBy.username}}</td>
            <td><a [routerLink]="[ '/category-detail', cate._id]">{{cate.name}}</a></td>
            <td><a [routerLink]="[ '/category-edit', cate._id]">edit</a></td>
            <td><button (click)="onDelete(cate._id)">Delete</button></td>
        </tr>
    </tbody>
</table>
<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item " [ngClass]="{'disabled': disableLui == true}">
            <a class="page-link" (click)="lui()">Previous</a>
        </li>
        <li class="page-item active">
            <a class="page-link">{{crPage}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item">
            <a class="page-link" (click)="next()">Next</a>
        </li>
    </ul>
</nav>